site_name: Splink
use_directory_urls: false
repo_url: https://github.com/moj-analytical-services/splink
theme:
  name: "material"
  features:
    - content.code.annotate
    - content.tabs.link
    - content.tooltips
    - header.autohide
    - search.highlight
    - search.share
    - search.suggest
  logo: "img/favicon.ico"
  favicon: "img/favicon.ico"
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - scheme: slate
      primary: purple
      accent: red
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
plugins:
  - search
  - semiliterate
  - mknotebooks
  - tags
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          rendering:
            show_source: false
      custom_templates: templates
markdown_extensions:
  - abbr
  - attr_list
  - meta
  - admonition
  - pymdownx.details
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
  - toc:
      permalink: True
nav:
  - Home: "README.md"
  - Topic Guide:
      - Splink's SQL backends - Spark, DuckDB etc: "topic_guides/backends.md"
      - Retrieving and querying Splink results: "topic_guides/querying_splink_results.md"
      - Link type - linking vs deduping: "topic_guides/link_type.md"
      - Defining and customising comparisons: "topic_guides/customising_comparisons.ipynb"
      - Comparators: "topic_guides/comparators.md"
      - Phonetic transformations: "topic_guides/phonetic.md"
      - Blocking rules for prediction vs estimation: "topic_guides/blocking_rules.md"
      - Run times, performance and linking large data: "topic_guides/drivers_of_performance.md"
      - Optimising Spark performance: "topic_guides/optimising_spark.md"
      - Salting blocking rules: "topic_guides/salting.md"
  - API Reference:
      - Linker API:
          - Full API: "linker.md"
          - Exploratory analysis: "linkerexp.md"
          - Estimating model parameters: "linkerest.md"
          - Predicting results: "linkerpred.md"
          - Visualisation and quality assurance: "linkerqa.md"
      - EM Training Session API: "em_training_session.md"
      - SplinkDataFrame API: "SplinkDataFrame.md"
      - Comparisons API:
          - Comparison: "comparison.md"
          - Comparison Level: "comparison_level.md"
      - Comparisons Library API:
          - Comparison Library: "comparison_library.md"
          - Comparison Template Library: "comparison_template_library.md"
          - Comparison Level Library: "comparison_level_library.md"
          - Comparison Composition: "comparison_level_composition.md"
  - Settings Editor: "settingseditor/editor.md"
  - Settings dictionary reference: "settings_dict_guide.md"
  - Tutorials:
      - 0. Tutorial introduction: "demos/00_Tutorial_Introduction.ipynb"
      - 1. Data prep prerequisites: "demos/01_Prerequisites.ipynb"
      - 2. Exploratory analysis: "demos/02_Exploratory_analysis.ipynb"
      - 3. Blocking: "demos/03_Blocking.ipynb"
      - 4. Estimating model parameters: "demos/04_Estimating_model_parameters.ipynb"
      - 5. Predicting results: "demos/05_Predicting_results.ipynb"
      - 6. Visualising predictions: "demos/06_Visualising_predictions.ipynb"
      - 7. Quality assurance: "demos/07_Quality_assurance.ipynb"
  - Examples:
      - Examples index: "examples_index.md"
      - DuckDB:
        - Deduplicate 50k rows historical persons: "demos/example_deduplicate_50k_synthetic.ipynb"
        - Linking financial transactions: "demos/example_transactions.ipynb"
        - Linking two tables of persons: "demos/example_link_only.ipynb"
        - Real time record linkage: "demos/example_real_time_record_linkage.ipynb"
        - QA from ground truth column: "demos/example_accuracy_analysis_from_labels_column.ipynb"
        - Estimating m probabilities from labels: "demos/example_pairwise_labels.ipynb"
        - Quick and dirty persons model: "demos/example_quick_and_dirty_persons.ipynb"
        - Febrl3 Dedupe: "demos/example_febrl3.ipynb"
        - Febrl4 link-only: "demos/example_febrl4.ipynb"
      - PySpark:
        - Deduplication using Pyspark: "demos/example_simple_pyspark.ipynb"
  - Developers' guides:
      - Making Changes to Splink:
        - Building a Virtual Environment: "dev_guides/changing_splink/building_env_locally.md"
        - Linting: "dev_guides/changing_splink/lint.md"
        - Building Docs: "dev_guides/changing_splink/build_docs_locally.md"
        - Running Tests: "dev_guides/changing_splink/running_tests_locally.md"
      - Caching and pipelining: "dev_guides/caching.md"
      - Understanding and debugging Splink: "dev_guides/debug_modes.md"
      - Spark caching: "dev_guides/spark_pipelining_and_caching.md"
      - Transpilation using sqlglot: "dev_guides/transpilation.md"
      - Comparisons and comparison levels:
        - Creating new comparisons and comparison levels: "dev_guides/comparisons/new_library_comparisons_and_levels.md"
        - Extending existing comparisons and comparison levels: "dev_guides/comparisons/extending_library_comparisons_and_levels.md"
      - User-Defined Functions: "dev_guides/udfs.md"

extra_css:
- css/custom.css
extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
