site_name: Splink
site_url: https://moj-analytical-services.github.io/splink/
use_directory_urls: false
repo_url: https://github.com/moj-analytical-services/splink
edit_uri: edit/master/docs/
theme:
  icon:
    repo: fontawesome/brands/github
  name: "material"
  features:
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - content.tooltips
    - header.autohide
    - navigation.indexes
    - navigation.footer
    - content.action.edit
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - toc.follow
  logo: "img/favicon.ico"
  favicon: "img/favicon.ico"
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - scheme: slate
      primary: purple
      accent: red
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
  custom_dir: docs/overrides
plugins:
  - mknotebooks:
      tag_remove_configs:
        remove_input_tags:
          - hide_input
        remove_all_outputs_tags:
          - hide_output
  - blog:
      post_date_format: long
      archive: false
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_source: false
            docstring_style: google
  - charts
hooks:
  - docs/hooks/__init__.py

markdown_extensions:
  - abbr
  - attr_list
  - meta
  - admonition
  - md_in_html
  - pymdownx.details
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.superfences:
      custom_fences:
        - name: vegalite
          class: vegalite
          format: !!python/name:mkdocs_charts_plugin.fences.fence_vegalite
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: True
      toc_depth: 3
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - footnotes
  - neoteroi.cards
nav:
  - Home: "index.md"
  - Getting Started: "getting_started.md"
  - Tutorial:
      - Introduction: "demos/tutorials/00_Tutorial_Introduction.ipynb"
      - 1. Data prep prerequisites: "demos/tutorials/01_Prerequisites.ipynb"
      - 2. Exploratory analysis: "demos/tutorials/02_Exploratory_analysis.ipynb"
      - 3. Blocking: "demos/tutorials/03_Blocking.ipynb"
      - 4. Estimating model parameters: "demos/tutorials/04_Estimating_model_parameters.ipynb"
      - 5. Predicting results: "demos/tutorials/05_Predicting_results.ipynb"
      - 6. Visualising predictions: "demos/tutorials/06_Visualising_predictions.ipynb"
      - 7. Evaluation: "demos/tutorials/07_Evaluation.ipynb"
  - Examples:
      - Introduction: "demos/examples/examples_index.md"
      - DuckDB:
        - Deduplicate 50k rows historical persons: "demos/examples/duckdb/deduplicate_50k_synthetic.ipynb"
        - Linking financial transactions: "demos/examples/duckdb/transactions.ipynb"
        - Linking two tables of persons: "demos/examples/duckdb/link_only.ipynb"
        - Real time record linkage: "demos/examples/duckdb/real_time_record_linkage.ipynb"
        - Evaluation from ground truth column: "demos/examples/duckdb/accuracy_analysis_from_labels_column.ipynb"
        - Estimating m probabilities from labels: "demos/examples/duckdb/pairwise_labels.ipynb"
        - Quick and dirty persons model: "demos/examples/duckdb/quick_and_dirty_persons.ipynb"
        - Deterministic dedupe: "demos/examples/duckdb/deterministic_dedupe.ipynb"
        - Febrl3 Dedupe: "demos/examples/duckdb/febrl3.ipynb"
        - Febrl4 link-only: "demos/examples/duckdb/febrl4.ipynb"
      - PySpark:
        - Deduplication using Pyspark: "demos/examples/spark/deduplicate_1k_synthetic.ipynb"
      - Athena:
        - Deduplicate 50k rows historical persons: "demos/examples/athena/deduplicate_50k_synthetic.ipynb"
      - SQLite:
        - Deduplicate 50k rows historical persons: "demos/examples/sqlite/deduplicate_50k_synthetic.ipynb"
  - Documentation:
    - Introduction: "documentation_index.md"
    - API:
      - Linker:
        - Training: "api_docs/training.md"
        - Visualisations: "api_docs/visualisations.md"
        - Inference: "api_docs/inference.md"
        - Clustering: "api_docs/clustering.md"
        - Evaluation: "api_docs/evaluation.md"
        - Table Management: "api_docs/table_management.md"
        - Miscellaneous functions: "api_docs/misc.md"
      - Comparisons Library:
          - Comparison Template Library: "api_docs/comparison_template_library.md"
          - Comparison Library: "api_docs/comparison_library.md"
          - Comparison Level Library: "api_docs/comparison_level_library.md"
      - Other:
          - Exploratory: "api_docs/exploratory.md"
          - Blocking rule creator: "api_docs/blocking.md"
          - Blocking analysis: "api_docs/blocking_analysis.md"
          - SplinkDataFrame: "api_docs/splink_dataframe.md"
          - EM Training Session API: "api_docs/em_training_session.md"
      - Charts Gallery:
        - "charts/index.md"
        - Exploratory Analysis:
          - completeness chart: "charts/completeness_chart.ipynb"
          - profile columns: "charts/profile_columns.ipynb"
        - Blocking:
          - cumulative num comparisons from blocking rules chart: "charts/cumulative_num_comparisons_from_blocking_rules_chart.ipynb"
        - Comparison Helpers:
          - comparator score chart: "topic_guides/comparisons/choosing_comparators.html#comparing-string-similarity-and-distance-scores"
          - comparator score threshold chart: "topic_guides/comparisons/choosing_comparators.html#choosing-thresholds"
          - phonetic match chart: "topic_guides/comparisons/choosing_comparators.html#phonetic-matching"
        - Model Training:
          - comparison viewer dashboard: "charts/comparison_viewer_dashboard.ipynb"
          - match weights chart: "charts/match_weights_chart.ipynb"
          - m u parameters chart: "charts/m_u_parameters_chart.ipynb"
          - parameter estimate comparisons chart: "charts/parameter_estimate_comparisons_chart.ipynb"
          - tf adjustment chart: "charts/tf_adjustment_chart.ipynb"
          - unlinkables chart: "charts/unlinkables_chart.ipynb"
          - waterfall chart: "charts/waterfall_chart.ipynb"
        - Clustering:
          - cluster studio dashboard: "charts/cluster_studio_dashboard.ipynb"
        - Model Evaluation:
          - accuracy chart from labels table: "charts/accuracy_chart_from_labels_table.ipynb"
  - Topic Guides:
    - Introduction: "topic_guides/topic_guides_index.md"
    - Record Linkage Theory:
      - Why do we need record linkage?: "topic_guides/theory/record_linkage.md"
      - Probabilistic vs Deterministic linkage: "topic_guides/theory/probabilistic_vs_deterministic.md"
      - The Fellegi-Sunter Model: "topic_guides/theory/fellegi_sunter.md"
      - Linked Data as Graphs: "topic_guides/theory/linked_data_as_graphs.md"
    - Linkage Models in Splink:
      - Splink's SQL backends - Spark, DuckDB etc:
        - Backends overview: "topic_guides/splink_fundamentals/backends/backends.md"
        - PostgreSQL: "topic_guides/splink_fundamentals/backends/postgres.md"
      - Link type - linking vs deduping: "topic_guides/splink_fundamentals/link_type.md"
      - Defining Splink models: "topic_guides/splink_fundamentals/settings.md"
      - Retrieving and querying Splink results: "topic_guides/splink_fundamentals/querying_splink_results.md"
    - Data Preparation:
      - Feature Engineering: "topic_guides/data_preparation/feature_engineering.md"
    - Blocking:
      - What are Blocking Rules?: "topic_guides/blocking/blocking_rules.md"
      - Prediction Blocking Rules: "topic_guides/blocking/predictions.md"
      - Model Training Blocking Rules: "topic_guides/blocking/model_training.md"
      - Computational Performance: "topic_guides/blocking/performance.md"
    - Comparing Records:
      - Defining and customising comparisons: "topic_guides/comparisons/customising_comparisons.ipynb"
      - Out-of-the-box comparisons: "topic_guides/comparisons/comparison_templates.ipynb"
      - Term-Frequency adjustments: "topic_guides/comparisons/term-frequency.md"
  - How Splink works:
    - User-Defined Functions: "dev_guides/udfs.md"
extra_css:
- css/custom.css
- css/neoteroi-mkdocs.css
extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - https://cdn.jsdelivr.net/npm/vega@5
  - https://cdn.jsdelivr.net/npm/vega-lite@5
  - https://cdn.jsdelivr.net/npm/vega-embed@6
extra:
  analytics:
    provider: google
    property: G-L6JT8NK528
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/moj-analytical-services/splink
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/splink/
    - icon: fontawesome/solid/chevron-right
      link: https://www.robinlinacre.com/
    - icon: fontawesome/solid/rss
      link: https://moj-analytical-services.github.io/splink/feed_rss_created.xml
  new: Recently added
exclude_docs: |
    charts/**
    blog/**