[tool.poetry]
name = "splink"
version = "3.5.4"
description = "Fast probabilistic data linkage at scale"
authors = ["Robin Linacre <robinlinacre@hotmail.com>", "Sam Lindsay", "Theodore Manassis", "Tom Hepworth", "Andy Bond"]
license = "MIT"
homepage = "https://github.com/moj-analytical-services/splink"
repository = "https://github.com/moj-analytical-services/splink"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.6"
jsonschema = ">=3.2,<5.0"
pandas = "^1.0.0"
duckdb = "^0.6.0"
sqlglot = "5.1.0"
altair = [
    {version = "=4.1.0", python = "=3.6"},
    {version = "^4.2.0", python = ">=3.7"}
]
Jinja2 = "^3.0.3"

[tool.poetry.dev-dependencies]
pytest = "^7.0"
pytest-benchmark = "^3.4.1"
tabulate = "0.8.9"
lzstring = "1.0.4"
black = "^22.1.0"
flake8 = "^4.0.1"
pyarrow = "^7.0.0"
networkx = "2.5.1"
pyspark = "^3.2.1"
rapidfuzz = "^2.0.3"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"


[flake8]
max-line-length = 88
extend-ignore = ["E203"]
