[tool.poetry]
name = "splink"
version = "3.8.0"
description = "Fast probabilistic data linkage at scale"
authors = ["Robin Linacre <robinlinacre@hotmail.com>", "Sam Lindsay", "Theodore Manassis", "Tom Hepworth", "Andy Bond", "Ross Kennedy"]
license = "MIT"
homepage = "https://github.com/moj-analytical-services/splink"
repository = "https://github.com/moj-analytical-services/splink"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.7"
jsonschema = ">=3.2,<5.0"
pandas = ">=1.0.0"
duckdb = ">=0.6.0"
sqlglot = ">=5.1.0"
altair = ">=4.2.0"
Jinja2 = ">=3.0.3"

[tool.poetry.group.dev]
[tool.poetry.group.dev.dependencies]
tabulate = "0.8.9"
pyspark = "^3.2.1"

[tool.poetry.group.linting]
[tool.poetry.group.linting.dependencies]
black = "22.6.0"
ruff = "0.0.257"

[tool.poetry.group.testing]
[tool.poetry.group.testing.dependencies]
pytest = "^7.0"
pyarrow = "^7.0.0"
networkx = "2.5.1"
rapidfuzz = "^2.0.3"

[tool.poetry.group.benchmarking]
optional = true
[tool.poetry.group.benchmarking.dependencies]
pytest-benchmark = "^4"
lzstring = "1.0.4"

[build-system]
requires = ["poetry-core>=1.0.8"]
build-backend = "poetry.core.masonry.api"


[tool.ruff]
line-length = 88
select = [
    # Pyflakes
    "F",
    # Pycodestyle
    "E",
    "W",
    # isort
    "I001",
    # bugbear
    "B",
]
ignore = [
    "B905", # `zip()` without an explicit `strict=` parameter
    "B006", # Do not use mutable data structures for argument defaults"
]
