mkdocs
mknotebooks
mkdocs-schema-reader
mkdocs-material==9.5.2
mkdocs-gen-files
mkdocs-autorefs
mkdocs-material-extensions
mkdocs-mermaid2-plugin
mkdocs-monorepo-plugin
mkdocs-simple-hooks==0.1.5
mkdocstrings
mkdocstrings-python
mkdocstrings-python-legacy
mkdocs-click
jinja2==3.1.3
mkdocs-git-revision-date-localized-plugin
mkdocs-charts-plugin
neoteroi-mkdocs
mkdocs-video
mkdocs-git-committers-plugin-2
mkdocs-rss-plugin
