mkdocs==1.4.2
mknotebooks
mkdocs-schema-reader
mkdocs-material==9.2.0b1
mkdocs-gen-files
mkdocs-autorefs
mkdocs-include-markdown-plugin
mkdocs-material-extensions
mkdocs-mermaid2-plugin
mkdocs-monorepo-plugin
mkdocs-semiliterate
mkdocs-simple-plugin
mkdocstrings
mkdocstrings-python
mkdocstrings-python-legacy
mkdocs-semiliterate
mkdocs-click
jinja2==3.0.3
mkdocs-git-revision-date-localized-plugin
mkdocs-charts-plugin
neoteroi-mkdocs
