name: Demo Tutorials Notebooks

on:
  pull_request:
    paths:
      - splink/**
      - docs/demos/tutorials/**
      - pyproject.toml
      - "uv.lock"
  workflow_dispatch:

permissions: {}

jobs:
  test:
    name: Test tutorial notebooks with Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup uv (with cache)
        id: setup_uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          enable-cache: true
          cache-dependency-glob: |
            pyproject.toml
            uv.lock
          cache-suffix: "${{ runner.os }}-${{ matrix.python-version }}"

      - name: Install Python ${{ matrix.python-version }}
        id: install_python
        run: uv python install ${{ matrix.python-version }}

      - name: Install dependencies
        id: install_dependencies
        run: uv sync --python ${{ matrix.python-version }} --group demos

      - name: Reduce notebook size
        id: reduce_notebook_size
        run: uv run python scripts/reduce_notebook_runtime.py

      - name: Run tests
        id: run_tests
        run: |
          scripts/run_notebooks.sh demos/tutorials
