name: Documentation

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    paths:
      - ".github/workflows/documentation.yml"
      # files that affect the docs build:
      - docs/**
      - CONTRIBUTING.md
      - mkdocs.yml
      # and potentially dependencies - build is quick so shouldn't be too much pain to run this:
      - pyproject.toml
      - uv.lock
  workflow_dispatch:

permissions: {}

jobs:
  build:
    name: Build Documentation
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup uv (with cache)
        id: setup_uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          enable-cache: true
          cache-dependency-glob: |
            pyproject.toml
            uv.lock

      - name: Install Python 3.13
        id: install_python313
        run: uv python install 3.13

      - name: Install dependencies
        id: install_dependencies
        run: uv sync --python 3.13 --only-group docs

      - name: Build documentation
        id: build_documentation
        run: uv run mkdocs build

      - name: Check links
        id: check_links
        uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
        with:
          fail: false
          args: --offline site/ --verbose './site/**/*.html'

      - name: Upload built site
        id: upload_built_site
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: github-pages
          path: site

  deploy:
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    needs: build
    name: Deploy Documentation to GitHub Pages
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.configure_pages.outputs.base_url }}
    permissions:
      contents: read
      id-token: write
      pages: write
    steps:
      - name: Configure Pages
        id: configure_pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0

      - name: Deploy to GitHub Pages
        id: deploy_pages
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5