name: mypy
on:
  pull_request:
    branches:
      - master
      - "**dev"
    paths:
      - splink/**
      - tests/**
      - pyproject.toml

permissions: {}

jobs:
  mypy:
    name: mypy
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup uv (with cache)
        id: setup_uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          enable-cache: true
          cache-dependency-glob: |
            pyproject.toml
            uv.lock

      - name: Install Python 3.12
        id: install_python312
        run: uv python install 3.12

      - name: Install dependencies
        id: install_dependencies
        run: uv sync --python 3.12

      - name: Run mypy
        id: mypy
        run: uv run mypy splink
