name: Release Package to PyPI

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

permissions: {}

jobs:
  publish-to-pypi:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup uv
        id: setup_uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          enable-cache: false

      - name: Install Python 3.12
        id: install_python312
        run: uv python install 3.12

      - name: Install the project
        id: install_project
        run: uv build --no-sources

      - name: Publish to PyPI
        id: publish_to_pypi
        run: uv publish --token ${{ secrets.PYPI_API_TOKEN }}
