name: Release Package to PyPI

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

permissions: {}

jobs:
  publish-to-pypi:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup uv
        id: setup_uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          enable-cache: false

      - name: Install Python 3.12
        id: install_python312
        run: uv python install 3.12

      - name: Install the project
        id: install_project
        run: uv build --no-sources

      - name: Publish to PyPI
        id: publish_to_pypi
        run: uv publish --token ${{ secrets.PYPI_API_TOKEN }}
